.footerParentDiv {
  width: 100vw;
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeeef;
  padding: 1rem 2rem;
}
.footerParentDiv .content .heading {
  font-size: 24px;
  font-weight: bolder;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: #002f34;
  color: whitesmoke;
}

.footerParentDiv .footer p {
  margin: 0;
}
.list ul{
  list-style-type: none;
  padding-left: 0rem;
  font-size: 0.8rem;
  color: rgba(0, 47, 52, 0.64);
  font-weight: 400;
}
.list ul li{
  cursor: pointer;
}
.list ul li:hover{
  color: rgba(0, 47, 52, 1);
}
.bottom-banner img{
  width: 100%;
}
.footer-text p{
  font-size: 0.8rem;
  padding: 0.3rem;
}